DJANGO_DEBUG=True
DJANGO_SECRET_KEY=django-insecure-dev-only-change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

#DATABASE_URL=postgres://condo:condo@localhost:5432/condo
DATABASE_URL=postgresql://postgres.[usuario]:[clave]@aws-1-us-west-2.pooler.supabase.com:5432/postgres

# Cloudinary
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# React dev server
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu@email.com
EMAIL_HOST_PASSWORD=tu_contrasena
DEFAULT_FROM_EMAIL=Prodomia <noreply@prodomia.cl>


